set timeout=0
set default=0

# Prefer graphics mode and keep it for the kernel handoff.
set gfxmode=1024x768x16,800x600x16,640x480x16,auto
set gfxpayload=keep

menuentry "Alloy OS" {
    multiboot2 /boot/alloy.elf
    boot
}
